@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --New-Swatch: #010C09;
  --New-Swatch: #073226;
  --New-Swatch: #145844;
  --New-Swatch: #26795F;
  --New-Swatch: #3D997D;
  --New-Swatch: #5ABA9C;
  --New-Swatch: #81DBC0;
  --New-Swatch: #A4EDD8;
  --New-Swatch: #DDFFF5;
}
 */

* {
  font-family: inter;
}

@layer base {
 
:root  {
  --background: 237 14% 95%;
  --foreground: 237 5% 10%;
  --card: 237 14% 90%;
  --card-foreground: 237 5% 15%;
  --popover: 237 14% 95%;
  --popover-foreground: 237 95% 10%;
  --primary: 237 100% 48%;
  --primary-foreground: 0 0% 100%;
  --secondary: 237 14% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 199 14% 85%;
  --muted-foreground: 237 5% 40%;
  --accent: 199 14% 80%;
  --accent-foreground: 237 5% 15%;
  --destructive: 0 50% 41%;
  --destructive-foreground: 237 5% 90%;
  --border: 237 20% 50%;
  --input: 237 20% 41%;
  --ring: 237 100% 48%;
  --radius: 0.75rem;
}
.dark  {
  --background: 237 14% 10%;
  --foreground: 237 5% 90%;
  --card: 237 14% 10%;
  --card-foreground: 237 5% 90%;
  --popover: 237 14% 5%;
  --popover-foreground: 237 5% 90%;
  --primary: 237 100% 48%;
  --primary-foreground: 0 0% 100%;
  --secondary: 237 14% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 199 14% 25%;
  --muted-foreground: 237 5% 60%;
  --accent: 199 14% 25%;
  --accent-foreground: 237 5% 90%;
  --destructive: 0 50% 41%;
  --destructive-foreground: 237 5% 90%;
  --border: 237 20% 41%;
  --input: 237 20% 41%;
  --ring: 237 100% 48%;
  --radius: 0.75rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
