@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --New-Swatch: #010C09;
  --New-Swatch: #073226;
  --New-Swatch: #145844;
  --New-Swatch: #26795F;
  --New-Swatch: #3D997D;
  --New-Swatch: #5ABA9C;
  --New-Swatch: #81DBC0;
  --New-Swatch: #A4EDD8;
  --New-Swatch: #DDFFF5;
}
 */

* {
  font-family: inter;
}

@layer base {
 

  :root  {
    --background: 41 14% 95%;
    --foreground: 41 5% 10%;
    --card: 41 14% 90%;
    --card-foreground: 41 5% 15%;
    --popover: 41 14% 95%;
    --popover-foreground: 41 95% 10%;
    --primary: 41 100% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41 14% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 3 14% 85%;
    --muted-foreground: 41 5% 40%;
    --accent: 3 14% 80%;
    --accent-foreground: 41 5% 15%;
    --destructive: 0 50% 41%;
    --destructive-foreground: 41 5% 90%;
    --border: 41 20% 50%;
    --input: 41 20% 41%;
    --ring: 41 100% 48%;
    --radius: 0.75rem;
  }
  .dark  {
    --background: 41 14% 10%;
    --foreground: 41 5% 90%;
    --card: 41 14% 10%;
    --card-foreground: 41 5% 90%;
    --popover: 41 14% 5%;
    --popover-foreground: 41 5% 90%;
    --primary: 41 100% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41 14% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 3 14% 25%;
    --muted-foreground: 41 5% 60%;
    --accent: 3 14% 25%;
    --accent-foreground: 41 5% 90%;
    --destructive: 0 50% 41%;
    --destructive-foreground: 41 5% 90%;
    --border: 41 20% 41%;
    --input: 41 20% 41%;
    --ring: 41 100% 48%;
    --radius: 0.75rem;
  }
  

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
